* {
    box-sizing: border-box;
}

body {
    font-size: 10px;
    font-family: Tahoma, Arial;
}

svg{
        
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 960px;
    height: 500px;
    position: relative;
}
path.slice{
    stroke-width:2px;
}

polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}
/* div.menu {
    width: 100%;
    background-color: #4d5791;
    height: 44px;
    padding: 0 40px;
} */



/* div.menu ul,
div.menu ul li {
    margin: 0;
    padding: 0 ;
    list-style: none;
    display: inline-block;
} */
nav {
    width: 100%;
    background-color: #4d5791;
    height: 44px;
    padding: 0 40px;

}

nav ul,
nav ul li {
    margin: 0;
    padding: 0 ;
    list-style: none;
    display: inline-block;
}


div.menu ul li a {
    display: block;
    padding: 0 20px;
    line-height: 44px;
    font-size: 1.4em;
    text-decoration: none;
    color: #fff;
    margin: 0;
}
nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 44px;
    font-size: 1.4em;
    text-decoration: none;
    color: #fff;
    margin: 0;

}

/* div.menu ul li a:hover  {
    background-color: white;
    color: #4d5791;
} */

nav ul li a:hover  {
    background-color: white;
    color: #4d5791;
}

/* div.hero { */
header {
    height: 350px;
    background-color: #b4c6f0;
    background-image: url('bg.png'); 
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 40px;
}



/* div.hero h1, */
header h1,
/* div.hero h2 { */
header h2 {
    text-align: center;
    margin: 0;
}

/* div.hero h1 { */
header h1 {
    color: rgb(10, 10, 10);
    font-size: 4.2em;
    margin-bottom: 20px;
}

/* div.hero h2 { */
header h2{
    color:rgb(10, 10, 10);;
}

/* .container { */
main {
    padding: 40px;
    width: 100%;
    text-align: center;
}

/* .page-area { */
section {
    max-width: 768px;
    display: inline-block;
}

/* .bottom { */
footer {
    height: 50px;
    background-color: #b4c6f0;
    padding: 40px;
}

 .center { 
    text-align: center;
}

/* .container div.text-box { */
main section article {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    text-align: justify;
    margin: 20px;
}

@media screen and (min-width: 768px) {
    /* .container .div.text-box { */
       main section article { 
        margin: 10px;
    }
}

/* for login page  */
 html {
    height: 100%;
  } 
  
  body.logincontent{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #ededf5;
  } 
  
  #main-holder {
    width: 50%;
    height: 75%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    
  }
    
  #login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  .login-form-field::placeholder {
    color: #3a3a3a;
  }
  
  .login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
  }
  
  div.menu ul li a:hover  {
    background-color: white;
    color: #4d5791;
} 

div.menu {
    width: 100%;
    background-color: #4d5791;
    height: 44px;
    padding: 0 40px;
}



div.menu ul,
div.menu ul li {
    margin: 0;
    padding: 0 ;
    list-style: none;
    display: inline-block;
}


  
  